{% extends "base.html" %}

{% block title %}
Contact | Gajanan Utsav Samiti 2026
{% endblock %}

{% block content %}

<section class="page-header">

    <div class="container">

        <h1>Contact Us</h1>

        <p>Gajanan Utsav Samiti • I TYPE Colony</p>

    </div>

</section>

<section class="contact-page">

    <div class="container contact-layout">

        <!-- Left -->

        <div class="contact-card reveal-left">

            <h2>Get in Touch</h2>

            <div class="contact-item">

                <i class="fa-solid fa-location-dot"></i>

                <div>

                    <h3>Address</h3>

                    <p>I TYPE Colony, Trilanga Near Shweta Mandir, Bhopal</p>

                </div>

            </div>

            <div class="contact-item">

                <i class="fa-solid fa-phone"></i>

                <div>

                    <h3>Phone</h3>

                    <p>+91 7000146911</p>

                </div>

            </div>

            <div class="contact-item">

                <i class="fa-brands fa-whatsapp"></i>

                <div>

                    <h3>WhatsApp</h3>

                    <p>+91 7000146911</p>

                </div>

            </div>

            <div class="contact-item">

                <i class="fa-solid fa-envelope"></i>

                <div>

                    <h3>Email</h3>

                    <p>msxupdatewindow@gmail.com</p>

                </div>

            </div>

        </div>

        <!-- Right -->

        <div class="map-card reveal-right">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1296.5917934341635!2d77.43529421883095!3d23.1951737291578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c4300765648c7%3A0xc250fa875f0fe6d9!2sMohit%20Surewal!5e0!3m2!1sen!2sin!4v1785326591758!5m2!1sen!2sin"
                loading="lazy"
                allowfullscreen>
            </iframe>

        </div>

    </div>

</section>

{% endblock %}